.app-header {
  background-color: #aa91c2;
  color: $clr4;
  padding: 0 1em 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;

  .logo {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: rem(2px);
  }

  .nav-links {
    display: flex;
    gap: 20px;

    a {
      color: $clr4;
      text-decoration: none;
      padding: rem(8px) rem(12px);
      border-radius: rem(5px);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #9677b3;
      }
    }
  }
}
